target
.classpath
.project
.settings
bin
test-output
src/test/java/com/beust/jcommander/ignore
build
.idea
*.iml
*.ipr
*.iws
lib/kotlin-r*jar
.gradle
local.properties
kobaltBuild
.kobalt

*~
.DS_Store
out
update-doc.sh
classes
