<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
  
<suite name="JCommander">

  <test name="JCommander tests">
    <classes>
      <class name="com.beust.jcommander.command.CommandTest" />
      <class name="com.beust.jcommander.command.CommandAliasTest" />
      <class name="com.beust.jcommander.ConverterFactoryTest" />
      <class name="com.beust.jcommander.DefaultProviderTest" />
      <class name="com.beust.jcommander.DefaultValueTest" />
      <class name="com.beust.jcommander.JCommanderTest" />
      <class name="com.beust.jcommander.ParametersDelegateTest" />
      <class name="com.beust.jcommander.dynamic.DynamicParameterTest" />
      <class name="com.beust.jcommander.VariableArityTest" />
      <class name="com.beust.jcommander.MethodSetterTest" />
      <class name="com.beust.jcommander.PositiveIntegerTest" />
      <class name="com.beust.jcommander.FinderTest" />
      <class name="com.beust.jcommander.CmdTest" />
      <class name="com.beust.jcommander.DefaultUsageFormatterTest" />
      <class name="com.beust.jcommander.UnixStyleUsageFormatterTest" />
      <class name="com.beust.jcommander.StringsTest" />
    </classes>
  </test>

</suite>

